@using System.Web.Mvc.Html
@model PSP.WebUI.Models.BoardEventsViewModel

<h2>Редактирование событий</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-7 col-md-8">
        <p>
            @Html.LabelFor(model => model.EventsOfDay.UserName, new {@class = "col-lg-2"})
            @Html.DisplayFor(model => model.EventsOfDay.UserName)
        </p>

        <p>@Html.HiddenFor(model => model.EventsOfDay.UserId)</p>

        <p>
            @Html.LabelFor(model => model.EventsOfDay.Date, new {@class = "col-lg-2"})
            @Html.DisplayFor(model => model.EventsOfDay.Date, new {@Value = Model.EventsOfDay.Date.ToString("dd.MM.yyyy")})
            @Html.HiddenFor(model => model.EventsOfDay.Date)
        </p>
        <p>
            @Html.LabelFor(model => model.EventsOfDay.Comments, new {@class = "col-lg-2"})
            @Html.TextAreaFor(model => model.EventsOfDay.Comments, 4, 80, new {@class = "col-lg-10"})
        </p>
        <p>
            @Html.LabelFor(model => model.EventsOfDay.EventDesc, new {@class = "col-lg-2"})
            @Html.TextAreaFor(model => model.EventsOfDay.EventDesc, 4, 80, new {@class = "col-lg-10"})
        </p>
    </div>
    <div class="col-lg-7 col-md-8">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th>С</th>
                    <th>По</th>
                    <th>Предприятие</th>
                    <th>Деятельность</th>
                    <th>Комментарий</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>

                @for (int i = 0; i < Model.EventsOfDay.Activities.Count; i++)
                {
                    <tr>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">@Html.DisplayFor(m => m.EventsOfDay.Activities[i].TimeFrom)</td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">@Html.DisplayFor(m => m.EventsOfDay.Activities[i].TimeTo)</td>
                        <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            @*@Html.DropDownListFor(m => m.EventsOfDay.Activities[i].Factory, new SelectList((Model.Factories), Model.EventsOfDay.Activities[i].Factory), new {@class = "col-lg-12 col-md-12 col-sm-12 ", @style = "border: none"})*@
                            @Html.DisplayFor(m => m.EventsOfDay.Activities[i].Factory)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.States[@Model.EventsOfDay.Activities[i].ActivityKey].Name)
                            @*@Html.DropDownListFor(m => m.EventsOfDay.Activities[i].ActivityKey, new SelectList(Model.States, "Key", "Name", Model.EventsOfDay.Activities[i].ActivityKey), new { @class = "col-lg-12 col-md-12 col-sm-12 ", @style = "border: none" })*@
                        </td>
                        <td>
                            @*@Html.TextBoxFor(m => m.EventsOfDay.Activities[i].Comment, new {@class = "col-lg-12 col-md-12 col-sm-12 ", @style = "border: none"})*@
                            @*@Html.ValidationMessageFor(m => m.EventsOfDay.Activities[i + 1].Comment)*@
                            @Html.DisplayFor(m => m.EventsOfDay.Activities[i].Comment)
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            @Html.ActionLink("Изменить", "EditActivity", new {date=@Model.EventsOfDay.Date, userId=@Model.EventsOfDay.UserId, rowNum=i}, new { @class = "btn btn-info btn-xs", style="margin: 0px" })
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            @Html.CheckBoxFor(m => m.EventsOfDay.Activities[i].Check)
                        </td>

                        @Html.HiddenFor(m => m.EventsOfDay.Activities[i].TimeFrom)
                        @Html.HiddenFor(m => m.EventsOfDay.Activities[i].TimeTo)
                        @Html.HiddenFor(m => m.EventsOfDay.Activities[i].Factory)
                        @Html.HiddenFor(m => m.EventsOfDay.Activities[i].ActivityKey)
                        @Html.HiddenFor(m => m.EventsOfDay.Activities[i].Comment)
                    </tr>
                }

            </tbody>
        </table>
        <p>
            @Html.ActionLink("Добавить событие", "AddActivity", new { userId = Model.EventsOfDay.UserId, date = Model.EventsOfDay.Date }, new { @class = "btn btn-info btn-sm" })
            <button type="submit" class="btn btn-info btn-sm" name="delete" value="1">Удалить</button>
            <button type="submit" class="btn btn-info btn-sm">Выйти</button>
            @*@Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-info btn-sm" })*@
        </p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
