@model PSP.WebUI.Models.ElementaryActivity

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<link href="~/Content/jquery-ui.css" type="text/css" rel="stylesheet" />
<link href="~/Content/jquery-ui-timepicker-addon.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
<script src="~/Scripts/jquery-ui-timepicker-ru.js"></script>
<script src="~/Scripts/jquery-ui-sliderAccess.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
<style>
    .ui-timepicker-select {
        width: 50px;
        height: 50px;
    }
    .ui-timepicker-div .ui-widget-header {
        margin-bottom: 10px;
    }
    .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
        display: none;
        padding-top: 2px;
    }
    .ui-timepicker-div.ui-timepicker-oneLine dl {
        text-align: center;
        color: black;
    }
        .ui-timepicker-div.ui-timepicker-oneLine dl dd,
        .ui-timepicker-div.ui-timepicker-oneLine dl dd > div {
            display: inline-block;
            margin: 0;
        }
</style>

<h2>Редактировать событие</h2>
@using (Html.BeginForm("EditActivity", "Event", new { date = @ViewBag.Date, userId = @ViewBag.UserId, rowNum = @ViewBag.Row}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Factory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Factory, new SelectList(ViewBag.Factories))
            @Html.ValidationMessageFor(model => model.Factory)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TimeFrom)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TimeFrom, "{0:HH:mm}") 
            @Html.ValidationMessageFor(model => model.TimeFrom)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TimeTo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TimeTo, "{0:HH:mm}") 
            @Html.ValidationMessageFor(model => model.TimeTo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityKey)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ActivityKey, new SelectList(@ViewBag.States, "Key", "Name"))
            @Html.ValidationMessageFor(model => model.ActivityKey)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
        <p>
            <input type="submit" value="Изменить" class="btn btn-info btn-sm" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-info btn-sm" })
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    var startTimeTextBox = $('#TimeFrom');
    var endTimeTextBox = $('#TimeTo');
    $.timepicker.timeRange(
        startTimeTextBox,
        endTimeTextBox,
        {
            controlType: 'select',
            oneLine: true,
            currentText: 'Сейчас',
            closeText: 'Применить',
            timeFormat: 'HH:mm',
            stepMinute: 5,
            start: { }, // start picker options
            end: {}
        }
    );
</script>
