@model PSP.Domain.groups

@{
    ViewBag.Title = "Редактирование группы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Delete</title>
</head>
<body>
<h3>Вы уверены, что хотите удалть группу?</h3>
<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input class="btn btn-danger" type="submit" value="Удалить" /> 
        @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-info btn-sm" })
    </p>
}

</body>
</html>

