@model PSP.Domain.groups

@{
    ViewBag.Title = "Редактирование группы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Группы</title>
</head>
<body>
<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
</fieldset>
    <p>
        @if (HttpContext.Current.User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info btn-sm" })
        }
        @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-info btn-sm" })
    </p>
</body>
</html>
