@model IEnumerable<PSP.Domain.groups>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Группы</h2>
    <table class="table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "label label-info" })
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        <label> </label>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "label label-primary" })
                        <label> </label>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "label label-danger" })
                    }
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Создать группу", "Create", null, new { @class = "btn btn-info btn-sm" })
</body>
</html>
